body {
	margin: 0px;
	padding: 0px;
	font-family: 'Alumni Sans', sans-serif;
}

.header {
	background: #1a1a1a;
	width: 100%;
	height: 60px;
}

.fon {
	width: 100%;
	background: #ff0000;
	position: relative;
	z-index: -1;
	height: 1340px;
}

h2 {
	position: absolute;
    top: -120%;
	color: #000000;
	padding: 0px;
	font-family: 'Alumni Sans', sans-serif;
    font-size: 50px;
	left: 90px;
}

div#Navfilms {
	position: absolute;
	top: 2%;
	left: 650px;
	color: #000000;
}

.testf1 {
	background: #000000;
	height: 200px;
	width: 250px;
	position: absolute;
	display: block;
	border-radius: 10px;
	left: 24%;
	float: left;
	top: 200px;
}

.testf2 {
	background: #000000;
	height: 200px;
	width: 250px;
	position: absolute;
	display: block;
	border-radius: 10px;
	left: 42%;
	float: left;
	z-index: +1;
	top: 200px;
}

.testf3 {
	background: #000000;
	height: 200px;
	width: 250px;
	position: absolute;
	display: block;
	border-radius: 10px;
	left: 60%;
	float: left;
	z-index: +1;
	top: 200px;
}

.fotkif1 {
	inline: block;
	margin-top: 20px;
}

h6.nazvfilm {
	font-size: 40px;
	left: 400px;
	margin-top: 10px;
}

h4 {
	margin-top: 0px;
	margin-left: 100px;
	color: #000000;
	font-size: 30px;
}

h5 {
	margin-top: 0px;
	margin-left: 100px;
	color: #ffffff;
	font-size: 30px;
	text-decoration: none;
}


h6 {
	margin-top: 0px;
	float: left;
	position: absolute;
}

h4.film1 {
	margin-top: 0px;
	margin-left: 40px;
	color: #fff;
	font-size: 25px;
}

h4.film2 {
	margin-top: 0px;
	margin-left: 40px;
	color: #fff;
	font-size: 25px;
}

#zatemnenief1 {
	background: rgba(26, 26, 26, 0.5);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	z-index: +1;
}


#oknof1 {
	width: 1000px;
	height: 650px;
	text-align: center;
	padding: 15px;
	border: 10px solid #ff0000;
	border-radius: 10px;
	color: #fff;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	background: #000;
	z-index: +1;
	font-size: 40px;
}

#zatemnenief1:target {display: block;}

.linef1 {
	line-height: 1;
	margin: 20px;
}

.nachattestf1 {
	display: inline-block;
	border: 1px solid #ff0000;
	color: #ffffff;
	padding: 0 12px;
	border-radius: 10px;
	margin-top: 250px;
	text-decoration: none;
	background: #ff0000;
	font-size: 40pt;
	cursor:pointer;
	position: absolute;
	left: 400px;
}

.closef1 {
	display: inline-block;
	border: 1px solid #ff0000;
	color: #ffffff;
	padding: 0 12px;
	border-radius: 10px;
	margin-top: 377px;
	text-decoration: none;
	background: #ff0000;
	font-size: 20pt;
	cursor:pointer;

}

.closef1:hover {background: #000000;}

.nachattestf1:hover {background: #000000;}

#zatemnenief2 {
	background: rgba(26, 26, 26, 0.5);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	z-index: +1;
}


#oknof2 {
	width: 1000px;
	height: 650px;
	text-align: center;
	padding: 15px;
	border: 10px solid #ff0000;
	border-radius: 10px;
	color: #fff;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	background: #000;
	z-index: +1;
	font-size: 40px;
}

#zatemnenief2:target {display: block;}

.linef2 {
	line-height: 1;
	margin: 20px;
}

.nachattestf2 {
	display: inline-block;
	border: 1px solid #ff0000;
	color: #ffffff;
	padding: 0 12px;
	border-radius: 10px;
	margin-top: 250px;
	text-decoration: none;
	background: #ff0000;
	font-size: 40pt;
	cursor:pointer;
	position: absolute;
	left: 400px;
}

.closef2 {
	display: inline-block;
	border: 1px solid #ff0000;
	color: #ffffff;
	padding: 0 12px;
	border-radius: 10px;
	margin-top: 370px;
	text-decoration: none;
	background: #ff0000;
	font-size: 20pt;
	cursor:pointer;

}

.closef2:hover {background: #000000;}

.nachattestf2:hover {background: #000000;}

#zatemnenief3 {
	background: rgba(26, 26, 26, 0.5);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	z-index: +1;
}


#oknof3 {
	width: 1000px;
	height: 650px;
	text-align: center;
	padding: 15px;
	border: 10px solid #ff0000;
	border-radius: 10px;
	color: #fff;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	background: #000;
	z-index: +1;
	font-size: 40px;
}

#zatemnenief3:target {display: block;}

.linef3 {
	line-height: 1;
	margin: 20px;
}

.nachattestf3 {
	display: inline-block;
	border: 1px solid #ff0000;
	color: #ffffff;
	padding: 0 12px;
	border-radius: 10px;
	margin-top: 280px;
	text-decoration: none;
	background: #ff0000;
	font-size: 40pt;
	cursor:pointer;
	position: absolute;
	left: 400px;
}

.closef3 {
	display: inline-block;
	border: 1px solid #ff0000;
	color: #ffffff;
	padding: 0 12px;
	border-radius: 10px;
	margin-top: 390px;
	text-decoration: none;
	background: #ff0000;
	font-size: 20pt;
	cursor:pointer;
}

.closef3:hover {background: #000000;}

.nachattestf3:hover {background: #000000;}

h6.nazvfilm3 {
	font-size: 40px;
	left: 200px;
	margin-top: 10px;
}

h4.film3 {
	margin-top: -15px;
	margin-left: 15px;
	color: #fff;
	font-size: 20px;
}

#zatemnenien {
	background: rgba(26, 26, 26, 0.5);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	z-index: +1;
}


#oknon {
	width: 1000px;
	height: 400px;
	text-align: center;
	padding: 15px;
	border: 10px solid #ff0000;
	border-radius: 10px;
	color: #fff;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	background: #000;
	z-index: +1;
	font-size: 40px;
}

#zatemnenien:target {display: block;}

.linen {
	line-height: 1;
	margin: 20px;
}

.closen {
	display: inline-block;
	border: 1px solid #ff0000;
	color: #ffffff;
	padding: 0 12px;
	border-radius: 10px;
	margin-top: 140px;
	text-decoration: none;
	background: #ff0000;
	font-size: 20pt;
	cursor:pointer;
	position: absolute;
	left: 470px;
}

.closen:hover {background: #000000;}